<html>
<head>
    <title>Gizem's blog</title>
</head>
<body>
  <p>Merhaba :)</p>
  <p>It works!</p>
  <div>
          <h1><a href="/">Sen de Anlat</a></h1>
      </div>

      <div>
          <p>published: 04.11.2018, 12:14</p>
          <h2><a href="https://sendeanlat.harassmap.org/tr">Nedir?</a></h2>
          <p>Sen de Anlat, kamusal alanda cinsel taciz ve cinsel saldırıya maruz bırakılan veya tanık olanların yaşadıklarını anlatabilecekleri dijital bir dayanışma platformu.</p>
      </div>

      <ul>
        <li>dsad</li>
        <li>dasda</li>
      </ul>

      <ol>
        <li>dasdadsad</li>
        <li>dsadad</li>
      </ol>
</body>
</html>
